@charset "utf-8";
/* CSS Document */

body{ margin:0px; color:#000; padding:0px; font-family:"微软雅黑", 
Helvetica, sans-serif,"微软雅黑"; 
background:url(https://img.alicdn.com/tfs/TB1nNlHRVXXXXaDaXXXXXXXXXXX-2500-600.jpg);
/* background-color:#800040; */
}
.login_top{ width:100%; 
color:#0d173b;
text-align:left;
border: 1px solid #ffff00;
line-height: 77px;
font-size:38px;
background-color:#a3d1ce;
height:77px;}
#login_body{
	background-color: #ffff00;
}
#layui-form-item-acc {
	width:479px;text-align:left;height:357px; position:fixed;top:55%;left:20%;margin:-178px 0 0 -239px; 
}
#layui-form-item-pwd {
	width:479px;text-align:left;height:357px; position:fixed;top:65%;left:20%;margin:-178px 0 0 -239px; 
}
#layui-form-item-code {
	width:479px;text-align:left;height:357px; position:fixed;top:75%;left:20%;margin:-178px 0 0 -239px; 
}
#layui-form-item-btn {
	width:479px;text-align:left;height:357px; position:fixed;top:85%;left:20%;margin:-178px 0 0 -149px; 
}



.tell{ color:#FFF; text-align:center; width:478px; line-height:30px; 
position:fixed;
bottom:30px;
 }
 